body {
    background-color: #dcdee2;
}

.container {
    width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: white;
    font-size: 110px;
}

#btnPlay {}

.simonBoard {
    margin: 0 auto;
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    margin-top: 50px;

    overflow: hidden;
}

#btnRed {
    width: 180px;
    height: 180px;
    flex-grow: 1;
    margin-right: 0;
    background-color: #EE1B24;
    line-height: 200px;
    text-align: center;
    border: solid 10px black;
    border-radius: 100% 0 0 0;
}

#btnYellow {
    width: 180px;
    height: 180px;
    flex-grow: 1;
    background-color: #FEF200;
    line-height: 200px;
    text-align: center;
    border-radius: 0 0 0 100%;
    border: solid 10px black;
}

#btnGreen {
    width: 180px;
    height: 180px;
    flex-grow: 1;
    background-color: #24ee1b;
    line-height: 200px;
    text-align: center;
    border: solid 10px black;
    border-radius: 0 0 100% 0;
}

#btnBlue {
    width: 180px;
    height: 180px;
    flex-grow: 1;
    background-color: #00589F;
    line-height: 200px;
    text-align: center;
    border-radius: 0 100% 0 0;
    border: solid 10px black;
}

.flashClass {
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: flash;
    animation-duration: 1.0s;
}

@keyframes flash {
  0%   {background-color: 255, 255, 255, 0.2;}
  10%  {background-color: white;}
  100% {background-color: 255, 0, 0, 0;}
}
