body {
    background-color: black;
    color: yellow;
}
swag{
  color:yellow;
  text-align: center;
}
p.simonBoard{
  margin-top: 5px;
}
h4{
  padding-bottom: 5px;
}
button {
  height: 30px;
  width: 80px;
  border-radius: 15%;
  border: 1px solid #43ff00;
  color: #43ff00;
  background-color: black;

}
footer {
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

footer a {
    color: #ffff7f
}
.fa {
  color: #43ff00;
  font-size: 16px;
  font-size: 10em;
  padding: 0 15px 0 15px;
}
.fa:hover {
  color:white;
}

.container {
    width: 800px;
    margin: 0 auto;
    border: 10px solid black;
    background-color: black;
}

h1 {
    font-family: 'Bungee', arial;
    font-size: 40px;
    text-align: center;
    color: #43ff00;
}

h3 {
    text-align: center;
    color: white;
    font-family: "Dosis"
}

#btnPlay {}

.simonBoard {
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;

    margin-top: 50px;
    overflow: hidden;
}

#btnRed {
    width: 100px;
    height: 100px;
    flex-grow: 1;
    background-color: #EE1B24;
    line-height: 200px;
    text-align: center;
    border: solid 10px #3c3c3c;
    border-radius: 100% 0 0 0;
}

#btnYellow {
    width: 100px;
    height: 100px;
    flex-grow: 1;
    background-color: #FEF200;
    line-height: 200px;
    text-align: center;
    border-radius: 0 0 0 100%;
    border: solid 10px #3c3c3c;
}

#btnGreen {
    width: 100px;
    height: 100px;
    flex-grow: 1;
    background-color: #24ee1b;
    line-height: 200px;
    text-align: center;
    border-radius: 0 0 100% 0;
    border: solid 10px #3c3c3c;
}

#btnBlue {
    width: 100px;
    height: 100px;
    flex-grow: 1;
    background-color: #00589F;
    line-height: 200px;
    text-align: center;
    border-radius: 0 100% 0 0;
    border: solid 10px #3c3c3c;
}

#btnBlue:hover{
  border-style: solid;
  border-color: #6b6b6b;
  box-shadow: 1px 1px 1px 1px black;
}
#btnRed:hover{
  border-style: solid;
  border-color: #6b6b6b;
  box-shadow: 1px 1px 1px 1px black;
}
#btnGreen:hover{
  border-style: solid;
  border-color: #6b6b6b;
  box-shadow: 1px 1px 1px 1px black;
}
#btnYellow:hover{
  border-style: solid;
  border-color: #6b6b6b;
  box-shadow: 1px 1px 1px 1px black;
}

.flashClass {
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    animation-name: flash;
    animation-duration: 1.0s;
}

@keyframes flash {
    0% {
        background-color: 255, 255, 255, 0.2;
    }
    10% {
        background-color: white;
    }
    100% {
        background-color: 255, 0, 0, 0;
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

.floating {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
    from {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 5px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes Floating {
    from {
        -moz-transform: translate(0, 0px);
    }
    65% {
        -moz-transform: translate(0, 5px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}
